<div ng-controller="TableArrangementController">
    <md-content layout-padding>
        <md-grid-list
                md-cols="{{ xMax }}" md-rows="{{ yMax }}"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
            <md-grid-tile
                    ng-click="tile.hasOwnProperty('id') ? select(tile) : null"
                    tabIndex="-1"
                    ng-repeat="tile in tiles"
                    ng-style="{
                        'background': tile.color
                      }"
                    md-colspan-gt-sm="1"
                    md-rowspan-gt-sm="1">
                <md-icon ng-if="tile.selected" md-svg-src="img/ic_check_white_24px.svg"></md-icon>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>