<div class="container">
    <div layout="column">
        <div layout="row">
            <h3>Menu Items</h3>
            <span flex></span>
            <md-button class="md-fab md-mini md-primary"
                       aria-label="Add Menu Item" ng-click="addMenuItem()">
                <md-icon md-svg-src="img/ic_add_white_24px.svg"></md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
        <md-card ng-class="{'md-whiteframe-4dp':hovering}"
                 ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
            <md-card-title>
            </md-card-title>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="menuItem in menuItems" ng-click="null">
                    <div class="md-list-item-text" style="margin-left: 20px;">
                        <h3>{{ menuItem.name }}</h3>
                        <h4> Menu : {{ menuItem.menu.name }}</h4>
                        <p> Profile : {{ menuItem.profile }}</p>
                        <p> Restaurant : {{ menuItem.menu.restaurant.name }}</p>
                    </div>
                </md-list-item>
            </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>