<div>
    <md-content>
        <md-toolbar class="stay-top">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="img/ic_menu_white_24px.svg"></md-icon>
                </md-button>
                <h2><span>{{page.title}}</span></h2>
                <span flex></span>
                <h3 class="toolbar-item"><span>{{user.firstName}} {{user.lastName}}</span></h3>
                <md-button class="md-icon-button" ng-if="authService.isBuyer()" ng-click="goToShoppingCart()">
                    <md-icon md-svg-icon="img/ic_shopping_cart_white_24px.svg"></md-icon>
                </md-button>
                <md-button class="md-raised md-warn" ng-click="logout()">
                    Logout
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 stay-top" md-component-id="left">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="img/ic_arrow_back_white_24px.svg"></md-icon>
                </md-button>
                <h2><span>{{page.title}}</span></h2>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isGuest()">
                <md-button ng-click="goToHome()" class="md-primary sidenav-item"  ng-disabled="isActive(0)">
                    Home
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isAdmin()">
                <md-button ng-click="goToSystemManagers()" class="md-primary sidenav-item"  ng-disabled="isActive(-1)">
                    System Managers
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isSystemManager()">
                <md-button ng-click="goToRestaurantTypes()" class="md-primary sidenav-item"  ng-disabled="isActive(13)">
                    Restaurant Types
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isSystemManager()">
                <md-button ng-click="goToRestaurants()" class="md-primary sidenav-item"  ng-disabled="isActive(1)">
                    Restaurants
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isSystemManager()">
                <md-button ng-click="goToRestaurantManagers()" class="md-primary sidenav-item"  ng-disabled="isActive(0)">
                    Restaurant Managers
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isManager()">
                <md-button ng-click="goToEmployees()" class="md-primary sidenav-item"  ng-disabled="isActive(4)">
                    Employees
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isManager()">
                <md-button ng-click="goToSellers()" class="md-primary sidenav-item"  ng-disabled="isActive(6)">
                    Sellers
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.canBid()">
                <md-button ng-click="goToSupplies()" class="md-primary sidenav-item"  ng-disabled="isActive(12)">
                    Supplies
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isManager()">
                <md-button ng-click="goToAreas()" class="md-primary sidenav-item"  ng-disabled="isActive(14)">
                    Areas
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isManager()">
                <md-button ng-click="goToMenus()" class="md-primary sidenav-item"  ng-disabled="isActive(10)">
                    Menus
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isManager()">
                <md-button ng-click="goToMenuItems()" class="md-primary sidenav-item"  ng-disabled="isActive(11)">
                    Menu Items
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isManager()">
                <md-button ng-click="goToDrinkCards()" class="md-primary sidenav-item"  ng-disabled="isActive(7)">
                    Drink Cards
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item" ng-if="authService.isManager()">
                <md-button ng-click="goToDrinkItems()" class="md-primary sidenav-item"  ng-disabled="isActive(8)">
                    Drink Items
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToProfile()" class="md-primary sidenav-item"  ng-disabled="isActive(2)">
                    Profile
                </md-button>
            </md-input-container>
            <!--Boki-->
            <md-input-container class="md-block sidenav-item" ng-if="authService.hasUniform()">
                <md-button ng-click="goToWorkingPlace()" class="md-primary sidenav-item"  ng-disabled="isActive(9)">
                    Working place
                </md-button>
            </md-input-container>
            <!---->
        </md-content>
    </md-sidenav>
    <section id="container" class="page active">
        <ui-view></ui-view>
    </section>
    <md-button class="md-primary md-fab md-fab-bottom-right" ng-if="authService.isGuest()"
               aria-label="Add Reservation" ng-click="addReservation()">
        <md-icon md-svg-src="img/ic_add_white_24px.svg"></md-icon>
    </md-button>
</div>