<div class="container">
    <div layout="column">
        <div layout="row">
            <h3>Reservations</h3>
        </div>
        <md-divider/>
        <md-card ng-class="{'md-whiteframe-4dp':hovering}"
                 ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
            <md-list flex>
                <md-subheader class="md-no-sticky">Pending</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="reservation in pendingReservations">
                    <div class="md-list-item-text" style="margin-left: 20px;">
                        <h3>{{ reservation.reservation.restaurant.name }}</h3>
                        <p>{{ reservation.reservation.arrivalDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                    </div>
                    <md-menu class="md-secondary">
                        <md-button ng-click="openMenu($mdOpenMenu, $event)">Respond</md-button>
                        <md-menu-content width="1">
                            <md-menu-item>
                                <md-button ng-click="accept(reservation, $event)">
                                    Accept
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="decline(reservation, $event)">
                                    Decline
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-button class="md-secondary" ng-if="user.id == friendship.originator.id" ng-click="cancel(friendship)">Cancel</md-button>
                </md-list-item>
                <md-subheader class="md-no-sticky">Accepted</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="reservation in acceptedReservations" ng-click="createOrder(reservation)">
                    <div class="md-list-item-text" style="margin-left: 20px;">
                        <h3>{{ reservation.reservation.restaurant.name }}</h3>
                        <p>{{ reservation.reservation.arrivalDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                    </div>
                    <div class="md-secondary" layout="column">
                        <h6>{{ reservation.status }}</h6>
                    </div>
                </md-list-item>
            </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>