<div class="container" ng-controller="ChefsController">
    <div layout="column">
        <div layout="row">
            <h3>Shifts</h3>
            <span flex></span>
            <md-button class="md-fab md-mini md-primary"
                       aria-label="Add Shift" ng-click="addShift()">
                <md-icon md-svg-src="img/ic_add_white_24px.svg"></md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
        <md-card ng-class="{'md-whiteframe-4dp':hovering}"
                 ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
            <md-card-title>
            </md-card-title>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="shift in parsedShifts" ng-click="null">
                    <div class="md-list-item-text" style="margin-left: 20px;">
                        <h3>{{ shift.name }}</h3>
                        <h3> Start : {{ shift.startHour }}, End : {{ shift.endHour }}</h3>
                        <p>{{ shift.restaurant.name }}</p>
                    </div>
                </md-list-item>
            </md-list>
            <calendar-md flex layout layout-fill
                         calendar-direction="direction"
                         on-prev-month="prevMonth"
                         on-next-month="nextMonth"
                         on-day-click="dayClick"
                         title-format="'MMMM y'"
                         ng-model='selectedDate'
                         day-format="'d'"
                         day-label-format="'EEE'"
                         day-label-tooltip-format="'EEEE'"
                         day-tooltip-format="'fullDate'"
                         week-starts-on="firstDayOfWeek"
                         day-content="setDayContent"></calendar-md>
            </md-card-content>
        </md-card>
    </div>
</div>