<md-dialog class="md-padding card" style="width: 400px">
    <form novalidate name="createChefForm" layout="column">
        <md-dialog-content style="padding-top: 30px">
            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input id="email" name="email" type="email" data-ng-model="user.email" required
                           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                    <div ng-messages="createChefForm.email.$error" role="alert"
                         ng-if="createChefForm.email.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                        <div ng-message="pattern">Email address must be valid.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input id="password" name="password" type="password" data-ng-model="user.password"
                           required>
                    <div ng-messages="createChefForm.password.$error"
                         ng-if="createChefForm.password.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm password</label>
                    <input id="confirmPassword" name="confirmPassword" type="password"
                           required data-password-verify="user.password" ng-model="user.password_verify">
                    <div ng-messages="createChefForm.password.$error"
                         ng-if="createChefForm.password.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                        <div ng-show="createChefForm.confirmPassword.$error.passwordVerify">
                            Passwords don't match!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>First Name</label>
                    <input id="firstName" name="firstName" type="text" data-ng-model="user.firstName" required>
                    <div ng-messages="createChefForm.firstName.$error" ng-if="createChefForm.firstName.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input id="lastName" name="lastName" type="text" data-ng-model="user.lastName"
                           required>
                    <div ng-messages="createChefForm.lastName.$error" ng-if="createChefForm.lastName.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Speciality</label>
                    <input id="profile" name="profile" type="text" data-ng-model="user.profile"
                           required>
                    <div ng-messages="createChefForm.profile.$error" ng-if="createChefForm.profile.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Dress Size</label>
                    <input id="dressSize" name="dressSize" type="number" data-ng-model="user.dressSize"
                           required>
                    <div ng-messages="createChefForm.dressSize.$error" ng-if="createChefForm.dressSize.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Footwear Size</label>
                    <input id="footwearSize" name="footwearSize" type="number" data-ng-model="user.footwearSize"
                           required>
                    <div ng-messages="createChefForm.footwearSize.$error" ng-if="createChefForm.footwearSize.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
            </md-dialog-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="close()">Close</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="submit()"
                       ng-disabled="createChefForm.$invalid">Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
