<md-dialog style="width: 500px">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Reservation</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="data.selectedIndex">
            <md-tab label="Restaurant" ng-disabled="data.selectedIndex != 0">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="restaurant in restaurants" ng-click="restaurantSelected(restaurant)">
                        <div class="md-list-item-text" style="margin-left: 20px;">
                            <h3>{{ restaurant.name }}</h3>
                            <h4>{{ restaurant.description }}</h4>
                            <p>{{ restaurant.restaurantType.name }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
            <md-tab label="Time & Table" ng-disabled="data.selectedIndex != 1">
                <md-content class="md-padding">
                    <div ng-include="'../custom/tableArrangement.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Invite friends" ng-disabled="data.selectedIndex != 2">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Three</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere
                        molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat,
                        at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent
                        ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="close()">Close</md-button>
        <md-button type="submit" class="md-primary md-raised" ng-click="next()" ng-if="!data.selectedIndex == 0">
            {{ data.selectedIndex == 1 ? 'Next' : 'Submit' }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
