<md-dialog style="width: 500px">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Reservation</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="data.selectedIndex">
            <md-tab label="Restaurant" ng-disabled="data.selectedIndex != 0">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="restaurant in restaurants"
                                  ng-click="restaurantSelected(restaurant)">
                        <div class="md-list-item-text" style="margin-left: 20px;">
                            <h3>{{ restaurant.name }}</h3>
                            <h4>{{ restaurant.description }}</h4>
                            <p>{{ restaurant.restaurantType.name }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
            <md-tab label="Time" ng-disabled="data.selectedIndex != 1">
                <md-content class="md-padding">
                    <mdp-date-picker mdp-placeholder="Date" ng-model="reservation.arrivalDate"></mdp-date-picker>
                    <mdp-time-picker mdp-placeholder="Time" ng-model="reservation.arrivalDate"></mdp-time-picker>
                    <mdp-date-picker mdp-placeholder="Date" ng-model="reservation.departureDate"></mdp-date-picker>
                    <mdp-time-picker mdp-placeholder="Time" ng-model="reservation.departureDate"></mdp-time-picker>
                </md-content>
            </md-tab>
            <md-tab label="Table" ng-disabled="data.selectedIndex != 2">
                <md-content class="md-padding">
                    <div ng-include="'../custom/tableArrangement.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Invite friends" ng-disabled="data.selectedIndex != 3">
                <md-content class="md-padding">
                    <md-chips ng-model="reservation.guests" md-autocomplete-snap
                              md-require-match="true">
                        <md-autocomplete
                                md-selected-item="selectedUser"
                                md-search-text="searchText"
                                md-items="item in queryUsers(searchText)"
                                md-item-text="item.firstName + ' ' + item.lastName + ' ' + item.email"
                                placeholder="Search users...">
                            <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.firstName}} {{item.lastName}} {{item.email}}</span>
                            </md-item-template>
                            <md-not-found>
                                No users matching "{{searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                              <strong>{{$chip.firstName}} {{$chip.lastName}}</strong>
                                <em>({{$chip.email}})</em>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="close()">Close</md-button>
        <md-button type="submit" class="md-primary md-raised" ng-click="inviteFriends()" ng-if="data.selectedIndex == 2" ng-disabled="data.selectedIndex == 2 && reservation.restaurantTables.length == 0">
            Invite Friends
        </md-button>
        <md-button type="submit" class="md-primary md-raised" ng-click="next()" ng-disabled="data.selectedIndex == 2 && reservation.restaurantTables.length == 0" ng-if="!data.selectedIndex == 0">
            {{ data.selectedIndex == 1 ? 'Next' : 'Complete reservation' }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
