<md-dialog class="md-padding card" style="width: 400px">
    <form novalidate name="restaurantForm" layout="column">
        <md-dialog-content style="padding-top: 30px">
            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input id="name" name="name" type="text" data-ng-model="restaurant.name"
                           required>
                    <div ng-messages="restaurantForm.name.$error"
                         ng-if="restaurantForm.name.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <input id="description" name="description" type="text" data-ng-model="restaurant.description"
                           required>
                    <div ng-messages="restaurantForm.description.$error"
                         ng-if="restaurantForm.description.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Country</label>
                    <input id="country" name="country" type="text" data-ng-model="restaurant.country"
                           required>
                    <div ng-messages="restaurantForm.country.$error"
                         ng-if="restaurantForm.country.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>City</label>
                    <input id="city" name="city" type="text" data-ng-model="restaurant.city"
                           required>
                    <div ng-messages="restaurantForm.city.$error"
                         ng-if="restaurantForm.city.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Street</label>
                    <input id="street" name="street" type="text" data-ng-model="restaurant.street"
                           required>
                    <div ng-messages="restaurantForm.street.$error"
                         ng-if="restaurantForm.street.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Street Number</label>
                    <input id="streetNumber" name="streetNumber" type="text" data-ng-model="restaurant.streetNumber"
                           required>
                    <div ng-messages="restaurantForm.streetNumber.$error"
                         ng-if="restaurantForm.streetNumber.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-autocomplete
                        ng-disabled="ctrl.isDisabled"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="restaurant.restaurantType"
                        md-search-text="searchText"
                        md-items="item in queryTypes(searchText)"
                        md-item-text="item.name"
                        placeholder="Search restaurant types...">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No restaurant types matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </md-dialog-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="close()">Close</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="submit()"
                       ng-disabled="restaurantForm.$invalid || restaurant.restaurantType == null">Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>





